.header-bar {
  background-color: #4a90e2;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}
.img-container {
  align-self: center;
}

.profile-row {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-around;
}
