body {
  background: #f2f2f2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
